@import "tailwindcss";

#box:hover #box-info{
    transform: translateY(-0%);
    transition: all 0.15s ease-in-out;
    opacity: 1;
    background: linear-gradient(to bottom left, transparent, black);
}
#box:hover{
    opacity: 0.7; 
}
#box-info{
    transform: translateY(30%);
    opacity: 0;
    z-index: 1;
}
#box{
    z-index: 10;
}